h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p {
    font-weight: 600;
    font-size: 3em;
}

.background-color-blue {
    background-color: rgb(66, 66, 168);
}

body {
    font-size: 16px;
}